<div class="bodyBig">
	<header>
		<div class="AdviceMeLogo">
			<a id="logo" [routerLink]="['/']" fragment="home"><img src="/assets/Images/AdviceMe Logo.png" alt="Logo Image"></a>
		</div>
		<nav class="main-nav">
			<a [routerLink]="['/']" fragment="home">Home</a>
			<a [routerLink]="['/']" fragment="action">Action</a>
			<a [routerLink]="['/']" fragment="adventure">Adventure</a>
			<a [routerLink]="['/']" fragment="animation">Animation</a>
			<a [routerLink]="['/']" fragment="comedy">Comedy</a>
			<a [routerLink]="['/']" fragment="drama">Drama</a>
			<a [routerLink]="['/']" fragment="horror">Horror</a>
			<a [routerLink]="['/']" fragment="scienceFiction">Science Fiction</a>
		</nav>
		<nav class="sub-nav">
			<input [(ngModel)]="fieldText" type="text" name="query" placeholder="Search...">
			<button [routerLink]="['/searchFilms', fieldText]">
				<i class="fas fa-search sub-nav-logo"></i>
			</button>
			<a [routerLink]="['/account']">Account</a>
		</nav>
	</header>

	<main role="main">
		<section class="bg-gray200 pt-5 pb-5">
			<div class="container">
				<div class="row justify-content-center">
					<div class="col">
						<div class="container">
							<div>
								<img [src]="filmImage()">
							</div>
						</div>
					</div>
					<div class="col">
						<div class="card card-body">
							<h1 class="card-title display-4"> {{film.title}} </h1>
							<div class="stars" id="rateYo"></div>
							<br>
							<div class="form-content">
								<p *ngIf="newComment"><b>Add your comment</b></p>
								<p *ngIf="!newComment"><b>Edit your comment</b></p>
								<div class="col-md-12">
									<textarea [(ngModel)]="note" name="note" placeholder="Comment" rows=5 cols=48>{{note}}</textarea>
									<p>Stars</p>
									<select [(ngModel)]="stars" name="stars" class="form-select" placeholder="Stars" required>
										<option selected>{{stars}}</option>
										<option>0</option>
										<option>1</option>
										<option>2</option>
										<option>3</option>
										<option>4</option>
										<option>5</option>
									</select>
								</div>
								<div class="center">
									<button (click)="save()" col-12>Confirm</button>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>
	</main>
</div>