<div class="bodyBig">
    <header>
        <div class="AdviceMeLogo">
            <a id="logo" href="/menuRegistered#home"><img src="/assets/Images/AdviceMe Logo.png" alt="Logo Image"></a>
        </div>
        <nav id="navPrincipal" class="main-nav">
            <a href="/menuRegistered#home">Home</a>
            <a href="/menuRegistered#action">Action</a>
            <a href="/menuRegistered#adventure">Adventure</a>
            <a href="/menuRegistered#comedy">Comedy</a>
            <a href="/menuRegistered#drama">Drama</a>
            <a href="/menuRegistered#horror">Horror</a>
            <a href="/menuRegistered#scienceFiction">Science Fiction</a>
        </nav>
        <nav class="sub-nav">
            <form action="/searchFilms">
                <input type="text" name="query" placeholder="Search...">
                <button type="submit">
                    <i class="fas fa-search sub-nav-logo"></i>
                </button>
                    <a href="/profile/{{user.id}}">Account</a>
            </form>
        </nav>
    </header>

	<div class="container">
		<div class="form">
			<div class="note">
				<p>Edit your comment</p>
			</div>
			<div class="form-content">
				<form action="/editComment" method="post">
					<div class="col-md-12">
						<div class="form-group">
							<textarea name="note" rows=5 cols=52>{{comment.note}}</textarea>
						</div>
						<div class="form-group">
							<select name="stars" class="form-select" required>
								<option selected>{{comment.stars}}</option>
								<option>0</option>
								<option>1</option>
								<option>2</option>
								<option>3</option>
								<option>4</option>
								<option>5</option>
							</select>
						</div>
					</div>

					<div class="center">
						<button type="submit" class="btnSubmit">Confirm</button>
					</div>
				</form>
			</div>
		</div>
	</div>
</div>