<div class="bodyBig">
    <div class="wrapper">
        <header>
            <div class="AdviceMeLogo">
                <a id="logo" href="/#home"><img src="/assets/Images/AdviceMe Logo.png" alt="Logo Image"></a>
            </div>
            <nav class="main-nav">
                <a href="/#home">Home</a>
                <a href="/#action">Action</a>
                <a href="/#adventure">Adventure</a>
                <a href="/#animation">Animation</a>
                <a href="/#comedy">Comedy</a>
                <a href="/#drama">Drama</a>
                <a href="/#horror">Horror</a>
                <a href="/#scienceFiction">Science Fiction</a>
            </nav>
            <nav class="sub-nav">
                <form action="/searchFilms">
                    <input type="text" name="query" placeholder="Search...">
                    <button type="submit">
                        <i class="fas fa-search sub-nav-logo"></i>
                    </button>
                    <a [routerLink]="['/login']">Login</a>
                </form>
            </nav>
        </header>

        <section class="main-container" >
            <h1 id="home">Most Commented Genres</h1>
            <div id="piechart"></div>

            <h1 id="trending">Trending Now</h1>
            <div class="box">
                    <a *ngFor="let film of trending" [routerLink]="['/films', film.id]"><img [src]="filmImage(film)"></a>
            </div>

            <button (click)="loadMore('indexTrending')" id='btnTrending' class='btnSubmit'>More Films</button>
            <div *ngIf="loaderTrending" class="lds-dual-ring overlay"></div>

            <h1 id="action">Action</h1>
            <div class="box" >
                <a *ngFor="let film of action" [routerLink]="['/films', film.id]"><img [src]="filmImage(film)"></a>
            </div>
            
            <button (click)="loadMoreGenre('indexAction', 'ACTION')" id='btnAction' class='btnSubmit'>More Films</button>
            <div *ngIf="loaderAction" class="lds-dual-ring overlay"></div>

            <h1 id="adventure">Adventure</h1>
            <div class="box" >
                <a *ngFor="let film of adventure" [routerLink]="['/films', film.id]"><img [src]="filmImage(film)"></a>
            </div>

            <button (click)="loadMoreGenre('indexAdventure', 'ADVENTURE')" id='btnAdventure' class='btnSubmit'>More Films</button>
            <div *ngIf="loaderAdventure" class="lds-dual-ring overlay"></div>
            
            <h1 id="animation">Animation</h1>
            <div class="box" >
                <a *ngFor="let film of animation" [routerLink]="['/films', film.id]"><img [src]="filmImage(film)"></a>
            </div>

            <button (click)="loadMoreGenre('indexAnimation', 'ANIMATION')" id='btnAnimation' class='btnSubmit'>More Films</button>
            <div *ngIf="loaderAnimation" class="lds-dual-ring overlay"></div>

            <h1 id="comedy">Comedy</h1>
            <div class="box" >
                <a *ngFor="let film of comedy" [routerLink]="['/films', film.id]"><img [src]="filmImage(film)"></a>
            </div>

            <button (click)="loadMoreGenre('indexComedy', 'COMEDY')" id='btnComedy' class='btnSubmit'>More Films</button>
            <div *ngIf="loaderComedy" class="lds-dual-ring overlay"></div>

            <h1 id="drama">Drama</h1>
            <div class="box" >
                <a *ngFor="let film of drama" [routerLink]="['/films', film.id]"><img [src]="filmImage(film)"></a>
            </div>

            <div id="moreFilmsDrama"></div>
            <button (click)="loadMoreGenre('indexDrama', 'DRAMA')" id='btnDrama' class='btnSubmit'>More Films</button>
            <div *ngIf="loaderDrama" class="lds-dual-ring overlay"></div>

            <h1 id="horror">Horror</h1>
            <div class="box" >
                <a *ngFor="let film of horror" [routerLink]="['/films', film.id]"><img [src]="filmImage(film)"></a>
            </div>

            <button (click)="loadMoreGenre('indexHorror', 'HORROR')" id='btnHorror' class='btnSubmit'>More Films</button>
            <div *ngIf="loaderHorror" class="lds-dual-ring hidden overlay"></div>

            <h1 id="scienceFiction">Science Fiction</h1>
            <div class="box" >
                <a *ngFor="let film of scifi" [routerLink]="['/films', film.id]"><img [src]="filmImage(film)"></a>
            </div>
            
            <button (click)="loadMoreGenre('indexScifi','SCIENCE_FICTION')" id='btnScifi' class='btnSubmit'>More Films</button>
            <div *ngIf="loaderScifi" class="lds-dual-ring overlay"></div>
        </section>
    </div>

</div>