<div class="bodyBig">
    <header>
		<div class="AdviceMeLogo">
			<a id="logo" [routerLink]="['/']" fragment="home"><img src="assets/Images/AdviceMe Logo.png" alt="Logo Image"></a>
		</div>
		<nav class="main-nav">
			<a [routerLink]="['/']" fragment="home">Home</a>
			<a [routerLink]="['/']" fragment="action">Action</a>
			<a [routerLink]="['/']" fragment="adventure">Adventure</a>
			<a [routerLink]="['/']" fragment="animation">Animation</a>
			<a [routerLink]="['/']" fragment="comedy">Comedy</a>
			<a [routerLink]="['/']" fragment="drama">Drama</a>
			<a [routerLink]="['/']" fragment="horror">Horror</a>
			<a [routerLink]="['/']" fragment="scienceFiction">Science Fiction</a>
		</nav>
		<nav class="sub-nav">
			<form action="/searchFilms">
				<input type="text" name="query" [(ngModel)]="fieldText" placeholder="Search...">
				<button [routerLink]="['/searchFilms/' + fieldText]" type="submit">
					<i class="fas fa-search sub-nav-logo"></i>
				</button>
				<a href="/addFilm">Post Film</a>
			</form>
			<form action="/logout" method="post">
					<input type="submit" value="Sign out" />
			</form>
		</nav>
    </header>


    <div class="container">
        <div class="form">
            <div class="note">
                <p>Post film</p>
            </div>			
			<div class="form-content">
				<div class="row">
					<!--FRONT PAGE-->
					<div class="file btn btn-primary" id="pictures">
						Upload a front page
						<input #file type="file" name="imageField" accept=".png, .jpg, .jpeg" required>
					</div>
				</div>
				
				<div class="row">
					<div class="form-group">
						<input [(ngModel)]="film.title" type="text" name="title" class="form-control" placeholder="Film name" required>
					</div>
				</div>
				<div class="row">
					<div class="col-md-6">
						<div class="form-group">
							<input [(ngModel)]="film.releaseDate" type="date" name="releaseDate" class="form-control" placeholder="Release date" required>
						</div>
						<div class="form-group">
							<input [(ngModel)]="film.cast" type="text" name="cast" class="form-control" placeholder="Cast" required>
						</div>
						<div class="form-group">
							<input [(ngModel)]="film.duration" type="number" name="duration" class="form-control" placeholder="Running time" required>
						</div>
					</div>
					<div class="col-md-6">
						<div class="form-group">
							<select [(ngModel)]="film.minAge" name="minAge" class="form-select"required>
								<option selected>{{film.minAge}}</option>
								<option>A (All people)</option>
								<option>7 (Not suitable for people under 7)</option>
								<option>12 (Not suitable for people under 12)</option>
								<option>16 (Not suitable for people under 16)</option>
								<option>18 (Not suitable for people under 18)</option>
							</select>
						</div>
						<div class="form-group">
							<select [(ngModel)]="film.genre" name="genre" class="form-select" required>
								<option selected>Genre</option>  
								<option>ACTION</option>
								<option>ANIMATION</option>
								<option>ADVENTURE</option>
								<option>COMEDY</option>
								<option>DRAMA</option>
								<option>HORROR</option>
								<option>SCIENCE_FICTION</option>
							</select>
						</div>
						<div class="form-group">
							<input [(ngModel)]="film.director" type="text" name="director" class="form-control" placeholder="Director" required>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="form-group">
						<textarea [(ngModel)]="film.plot" name="plot" placeholder="Plot" rows=5 cols=143 required></textarea>
					</div>
				</div>
				<div class="center">
					<button (click)="save()" class="btnSubmit">Post</button>
				</div>
			</div>
        </div>
    </div>
</div>