<div class="bodyBig">
    <header>
		<div class="AdviceMeLogo">
			<a id="logo" [routerLink]="['/']" fragment="home"><img src="assets/Images/AdviceMe Logo.png" alt="Logo Image"></a>
		</div>
		<nav class="main-nav">
			<a [routerLink]="['/']" fragment="home">Home</a>
			<a [routerLink]="['/']" fragment="action">Action</a>
			<a [routerLink]="['/']" fragment="adventure">Adventure</a>
			<a [routerLink]="['/']" fragment="animation">Animation</a>
			<a [routerLink]="['/']" fragment="comedy">Comedy</a>
			<a [routerLink]="['/']" fragment="drama">Drama</a>
			<a [routerLink]="['/']" fragment="horror">Horror</a>
			<a [routerLink]="['/']" fragment="scienceFiction">Science Fiction</a>
		</nav>
		<nav class="sub-nav">
			<form action="/searchFilms">
				<input type="text" name="query" [(ngModel)]="fieldText" placeholder="Search...">
				<button [routerLink]="['/searchFilms/' + fieldText]" type="submit">
					<i class="fas fa-search sub-nav-logo"></i>
				</button>
				<a href="/addFilm">Post Film</a>
			</form>
			<form action="/logout" method="post">
					<input type="submit" value="Sign out" />
					<input type="hidden" name="_csrf" value="{{token}}" />
			</form>
		</nav>
    </header>

    <div class="container">
        <div class="form">
            <div class="note">
                <p>Edit film</p>
            </div>
			
	        <form action="/editFilm/{{film.id}}" method="post" enctype="multipart/form-data">
			
	            <div class="form-content">
	             	<input type="hidden" name="id" value="{{film.id}}"/>
	                <div class="row">
	                    <!--FRONT PAGE-->
	                    <div class="file btn btn-primary" id="pictures">
	                        Upload a front page
	                        <input type="file" name='imageField' accept=".png, .jpg, .jpeg"/>
	                    </div>
	                </div>
	                
	                <div class="row">
	                    <div class="form-group">
	                        <input type="text" name="title" class="form-control" placeholder="Film name" value="{{film.title}}" required/>
	                    </div>
	                </div>
	                <div class="row">
	                    <div class="col-md-6">
	                        <div class="form-group">
	                            <input type="date" name="releaseDate" class="form-control" placeholder="Release date" value={{film.releaseDate}} required/>
	                        </div>
	                        <div class="form-group">
	                            <input type="text" name="cast" class="form-control" placeholder="Cast" value="{{film.cast}}" required/>
	                        </div>
	                        <div class="form-group">
	                            <input type="number" name="duration" class="form-control" placeholder="Running time" value="{{film.duration}}" required/>
	                        </div>
	                    </div>
	                    <div class="col-md-6">
	                        <div class="form-group">
	                            <select name="minAge" class="form-select" required>
	                                <option selected>{{film.minAge}}</option>
	                                <option>A (All people)</option>
	                                <option>7 (Not suitable for people under 7)</option>
	                                <option>12 (Not suitable for people under 12)</option>
	                                <option>16 (Not suitable for people under 16)</option>
	                                <option>18 (Not suitable for people under 18)</option>
	                            </select>
	                        </div>
	                        <div class="form-group">
	                            <select name="genre" class="form-select" required>
	                                <option selected>{{film.genre}}</option>  
	                                <option>ACTION</option>
	                                <option>ANIMATION</option>
	                                <option>ADVENTURE</option>
	                                <option>COMEDY</option>
	                                <option>DRAMA</option>
	                                <option>HORROR</option>
	                                <option>SCIENCE_FICTION</option>
	                            </select>
	                        </div>
	                        <div class="form-group">
	                            <input type="text" name="director" class="form-control" placeholder="Director" value="{{film.director}}" required/>
	                        </div>
	                    </div>
	                </div>
	                <div class="row">
	                    <div class="form-group">
	                        <textarea name="plot" placeholder="Plot" rows=5 cols=143 required>{{film.plot}}</textarea>
	                    </div>
	                </div>
	                <div class="center">
	                    <button type="submit" class="btnSubmit">Edit</button>
	                    <input type="hidden" name="_csrf" value="{{token}}"/>
	                </div>
            	</div>
			</form>	
        </div>
    </div>
</div>