<div *ngIf="film">
    
    <h2 *ngIf="!film.id">New film</h2>
    <h2 *ngIf="film.id">film "{{film.title}}"</h2>

    <div>
        <label>Title: </label>
        <input [(ngModel)]="film.title" placeholder="title" />
    </div>
    <div>
        <label>Abstract: </label>
        <textarea [(ngModel)]="film.plot" placeholder="description"></textarea>
    </div>

    <ng-template [ngIf]="film.id">
        <br><input type='checkbox' name='removeImage' [(ngModel)]="removeImage"> <label>Remove image</label><br>

        <label>Upload image: </label><br>  
    </ng-template>

    <input #file type='file' name='imageFile' accept=".jpg, .jpeg" />

    <p>
        <button (click)="cancel()">Cancel</button>
        <button (click)="save()">Save</button>
    </p>
</div>