<div class="bodyBig">
  <div class="wrapper">
	<header>
        <div class="AdviceMeLogo">
            <a id="logo" [routerLink]="['/']" fragment="home"><img src="/assets/Images/AdviceMe Logo.png" alt="Logo Image"></a>
        </div>
        <nav class="main-nav">
            <a [routerLink]="['/']" fragment="home">Home</a>
            <a [routerLink]="['/']" fragment="action">Action</a>
            <a [routerLink]="['/']" fragment="adventure">Adventure</a>
            <a [routerLink]="['/']" fragment="animation">Animation</a>
            <a [routerLink]="['/']" fragment="comedy">Comedy</a>
            <a [routerLink]="['/']" fragment="drama">Drama</a>
            <a [routerLink]="['/']" fragment="horror">Horror</a>
            <a [routerLink]="['/']" fragment="scienceFiction">Science Fiction</a>
        </nav>
        <nav class="sub-nav">
            <input [(ngModel)]="fieldText" type="text" name="query" placeholder="Search...">
            <button [routerLink]="['/searchFilms', fieldText]">
                <i class="fas fa-search sub-nav-logo"></i>
            </button>
            <a *ngIf="unregistered" [routerLink]="['/login']">Login</a>
            <a *ngIf="registered" [routerLink]="['/account']">Account</a>
            <a *ngIf="admin" [routerLink]="['/addFilm']">Post Film</a>
            <button *ngIf="admin" (click)="logout()" value="Sign out">Sign out</button>
        </nav>
    </header>
    
    <!-- MAIN CONTAINER -->
    <section class="main-container" >
      <h1 id="results">Results</h1>
      		<div>
                <div class="box">
                    <a *ngFor="let film of films" [routerLink]="['/films', film.id]"><img [src]="filmImage(film)"></a>
                </div>
			
                <p *ngIf="films.length == 0">Nothing found...</p>

			    <div *ngIf="films.length != 0">
	      			<button (click)="loadMore()" id='btnSearch' class='btnSubmit'>More Films</button>
	     			<div *ngIf="loaderMore" class="lds-dual-ring overlay"></div>
                </div>
            </div>
    </section> 
  </div>
</div>