.container {
    width: 100%;
    padding-right: var(--bs-gutter-x,.75rem);
    padding-left: 0;
    margin-right: auto;
    margin-left: 0;
}

svg.ngx-charts {
    float: none;
}

text.pie-label {
    font-size: 15px;
}