<div class="bodyBig">
    <header>
		<div class="AdviceMeLogo">
			<a id="logo" [routerLink]="['/']" fragment="home"><img src="/assets/Images/AdviceMe Logo.png" alt="Logo Image"></a>
		</div>
		<nav id="navPrincipal" class="main-nav">
			<a [routerLink]="['/']" fragment="home">Home</a>
			<a [routerLink]="['/']" fragment="action">Action</a>
			<a [routerLink]="['/']" fragment="adventure">Adventure</a>
			<a [routerLink]="['/']" fragment="animation">Animation</a>
			<a [routerLink]="['/']" fragment="comedy">Comedy</a>
			<a [routerLink]="['/']" fragment="drama">Drama</a>
			<a [routerLink]="['/']" fragment="horror">Horror</a>
			<a [routerLink]="['/']" fragment="scienceFiction">Science Fiction</a>
		</nav>
		<nav class="sub-nav">
			<form action="/searchFilms">
				<input type="text" name="query" [(ngModel)]="fieldText" placeholder="Search...">
				<button [routerLink]="['/searchFilms/' + fieldText]" type="submit">
					<i class="fas fa-search sub-nav-logo"></i>
				</button>
				<a [routerLink]="['/account']">Account</a>
			</form>
		</nav>
    </header>
	
	<div class="container">
		<div class="form">
			<div class="note">
				<p>Change password</p>
			</div>
			<div class="form-content">
				<div class="row">
					<div class="password">
						<label for="old_Password">Old password</label>
						<div class="sec-2">
							<input *ngIf="!passVisible" [(ngModel)]="password" id="password" type="password" name="oldPassword" placeholder="············" required />
							<input *ngIf="passVisible" [(ngModel)]="password" id="password" type="text" name="oldPassword" placeholder="············" required />
							<ion-icon name="eye" (click)="showPassword()"></ion-icon>
						</div>
					</div>
				</div>
				<br>
				<div class="row">
					<div class="password">
						<label for="new_Password">New password</label>
						<div class="sec-2">
							<input *ngIf="!newPassVisible" [(ngModel)]="newPassword" id="password1" type="password" name="newPassword" placeholder="············" required />
							<input *ngIf="newPassVisible" [(ngModel)]="newPassword" id="password1" type="text" name="newPassword" placeholder="············" required />
							<ion-icon name="eye" onclick="showNewPassword()"></ion-icon>
						</div>
					</div>
				</div>
				<br>
				<div class="row">
					<div class="col">
						<button (click)="save()" class="btnSubmit">Save</button>
					</div>
					<div class="col">
						<button type="button" class="btnSubmit" [routerLink]="['/account']">Cancel</button>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>