<div class="bodyBig">
	<header>
		<div class="AdviceMeLogo">
			<a id="logo" [routerLink]="['/']" fragment="home"><img src="/assets/Images/AdviceMe Logo.png" alt="Logo Image"></a>
		</div>
		<nav class="main-nav">
			<a [routerLink]="['/']" fragment="home">Home</a>
			<a [routerLink]="['/']" fragment="action">Action</a>
			<a [routerLink]="['/']" fragment="adventure">Adventure</a>
			<a [routerLink]="['/']" fragment="animation">Animation</a>
			<a [routerLink]="['/']" fragment="comedy">Comedy</a>
			<a [routerLink]="['/']" fragment="drama">Drama</a>
			<a [routerLink]="['/']" fragment="horror">Horror</a>
			<a [routerLink]="['/']" fragment="scienceFiction">Science Fiction</a>
		</nav>
		<nav class="sub-nav">
			<input [(ngModel)]="fieldText" type="text" name="query" placeholder="Search...">
			<button [routerLink]="['/searchFilms', fieldText]">
				<i class="fas fa-search sub-nav-logo"></i>
			</button>
			<a [routerLink]="['/account']">Account</a>
		</nav>
	</header>

	<div class="container emp-profile-follow">
		<div class="row tittle">
			Following
		</div>
		<div *ngFor="let following of followingList">
            <div class="row account">
                <div class="col-md-2">
                    <a [routerLink]="['/profile', following.id]">{{following.name}}</a>
                </div>
            </div>
		</div>
		
		<div *ngIf="followingList.length == 0"class="row account">	
			<div class="col-md-6">
				<p>There are not following yet</p>
			</div>
		</div>

		<button *ngIf="followingList.length != 0" (click)="following()" id='btnFollowing' class='btnSubmit'>More Followers</button>
		<div *ngIf="loader" class="lds-dual-ring overlay"></div>
	</div>
</div>