<div class="bodyBig">
	<header>
		<div class="AdviceMeLogo">
			<a id="logo" [routerLink]="['/']" fragment="home"><img src="/assets/Images/AdviceMe Logo.png" alt="Logo Image"></a>
		</div>
		<nav id="navPrincipal" class="main-nav">
			<a [routerLink]="['/']" fragment="home">Home</a>
			<a [routerLink]="['/']" fragment="action">Action</a>
			<a [routerLink]="['/']" fragment="adventure">Adventure</a>
			<a [routerLink]="['/']" fragment="animation">Animation</a>
			<a [routerLink]="['/']" fragment="comedy">Comedy</a>
			<a [routerLink]="['/']" fragment="drama">Drama</a>
			<a [routerLink]="['/']" fragment="horror">Horror</a>
			<a [routerLink]="['/']" fragment="scienceFiction">Science Fiction</a>
		</nav>
		<nav class="sub-nav">
			<form action="/searchFilms">
				<input type="text" name="query" [(ngModel)]="fieldText" placeholder="Search...">
				<button [routerLink]="['/searchFilms/' + fieldText]" type="submit">
					<i class="fas fa-search sub-nav-logo"></i>
				</button>
				<a [routerLink]="['/account']">Account</a>
			</form>
		</nav>
    </header>

	<div class="container emp-profile">
		<div class="row">
			<div class="col-md-4">
				<div class="profile-img">
					<img [src]="profileImage()">
				</div>
			</div>
			<div class="col-md-6">
				<div class="row">
					<div class="profile-head">
						<h1 *ngIf="account" style="color: black;">Profile</h1>
						<h1 *ngIf="!account">{{user.name}}</h1>
					</div>
				</div>
				<div class="row">
						<div class="col-md-3 followers"><a [routerLink]="['/followers', user.id]">{{user.followersCount}} Followers</a></div>
						<div class="col-md-3 followers"><a [routerLink]="['/following', user.id]">{{user.followingCount}} Following</a></div>
				</div>
			</div>
			<div class="col-md-2">
				<button *ngIf="account" class="profile-edit-btn" [routerLink]="['/editProfile']">Edit Profile</button>
				<button *ngIf="!account" class="profile-edit-btn" (click)="follow()">{{followBtn}}</button>
			</div>
		</div>
		<div *ngIf="account" class="row">
			<div class="col-md-4">
				<div class="profile-work">
					<br>
						<button (click)="logOut()" class="profile-edit-btn">Sign out</button>
				</div>
			</div>
			<div class="col-md-8">
				<div class="tab-content profile-tab" id="myTabContent">
					<div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
						<div class="row seccion">
							<label>About</label>
						</div>
						<div class="row">
							<div class="row">
								<div class="col-md-6">
									<label style="color:rgb(37, 37, 37);">Name</label>
								</div>
								<div class="col-md-6">
									<p>{{user.name}}</p>
								</div>
							</div>
							<div class="row">
								<div class="col-md-6">
									<label style="color:rgb(37, 37, 37);">Email</label>
								</div>
								<div class="col-md-6">
									<p>{{user.email}}</p>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-md-4"></div>
			<div class="col-md-8">
				<div class="row seccion">
					<p>Comments</p>
				</div>

					<div *ngFor="let comment of comments">
						<div class="row">
							<div class="row">
								<div class="col comment">
										<a [routerLink]="['/filmRegistered', comment.film.id]">
											<p><b>{{comment.film.title}}</b></p>
										</a>
								</div>
							</div>
							<div class="row">
								<div class="col">
									<p style="color: black;">{{comment.note}}</p>
									<!--<div class="stars rateyo" data-rateyo-rating="{{comment.film.stars}}" data-rateyo-num-stars="5" data-rateyo-read-only="true"></div>
									-->	<p></p>
								</div>
							</div>
							<div *ngIf="account" class="row">
								<div class="col-md-3">
									<button class="profile-edit-btn" [routerLink]="['/editComment', comment.id]">Edit Comment</button>
								</div>
								<div class="col-md-1">
									<button class="btn"><a (click)="removeComment(comment.id)"><img src="/assets/Images/delete.png" width="20px"></a></button>
								</div>
							</div>
						</div>
						<br>
					</div>
					<p *ngIf="comments.length == 0" style="color: black;">There are no asserts yet</p>
					
					<button (click)="moreComments()" id='btnCommentProfile' class='btnSubmit'>More Comments</button>
					<div *ngIf="loader" class="lds-dual-ring overlay"></div>
			</div>
		</div>
	</div>

</div>
