<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <script type="text/javascript"> (function() { var css = document.createElement('link'); css.href = 'https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css'; css.rel = 'stylesheet'; css.type = 'text/css'; document.getElementsByTagName('head')[0].appendChild(css); })(); </script>
    <script defer src="https://use.fontawesome.com/releases/v5.1.0/js/all.js" integrity="sha384-3LK/3kTpDE/Pkp8gTNp2gR/2gOiwQ6QaO7Td0zV76UFJVhqLl4Vl3KL1We6q6wR9" crossorigin="anonymous"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <link rel="stylesheet" href="../appFilm.css">
    <link rel="stylesheet" href="../themeFilm.css">
    <link rel="stylesheet" href="../themeFilm.js">
    <link rel="stylesheet" href="../jquery.rateyo.css">
    <title>film</title>
</head>
<body>
    <header>
        <div class="AdviceMeLogo">
            <a id="logo" href="/adviceMe#home"><img src="/Images/AdviceMe Logo.png" alt="Logo Image"></a>
        </div>      
        <nav id="navPrincipal" class="main-nav">                
            <a href="/#home">Home</a>
            <a href="/#action">Action</a>
            <a href="/#adventure">Adventure</a>
            <a href="/#comedy">Comedy</a>
            <a href="/#drama">Drama</a>
            <a href="/#horror">Horror</a>
            <a href="/#scienceFiction">Science Fiction</a>
        </nav>
        <nav class="sub-nav">
            <input type="text" placeholder="Search...">
            <a href=""><i class="fas fa-search sub-nav-logo"></i></a>
            <a href="/login">Login</a>        
        </nav>      
    </header>
    
    <main role="main">
        <section class="bg-gray200 pt-5 pb-5">
            <div class="container">
               <div class="row justify-content-center">
                  <div class="col">
                    <!-- Container for the image gallery -->
                    <div class="container">

                      <!-- Full-width images with number text -->
                      <div class="mySlides">
                        <div class="numbertext">1 / 3</div>
                        <img src="/Images/film1.jpg" style="width:100%">
                    </div>

                    <div class="mySlides">
                        <div class="numbertext">2 / 3</div>
                        <img src="/Images/img2.jpg" style="width:100%">
                    </div>

                    <div class="mySlides">
                        <div class="numbertext">3 / 3</div>
                        <img src="/Images/img3.jpg" style="width:100%">
                    </div>

                    <!-- Next and previous buttons -->
                    <a class="prev" onclick="plusSlides(-1)">&#10094;</a>
                    <a class="next" onclick="plusSlides(1)">&#10095;</a>

                    <!-- Thumbnail images -->
                    <div class="row">
                        <div class="column">
                          <img class="demo cursor" src="/Images/film1.jpg" style="width:100%" onclick="currentSlide(1)" >
                      </div>
                      <div class="column">
                          <img class="demo cursor" src="/Images/img2.jpg" style="width:100%" onclick="currentSlide(2)">
                      </div>
                      <div class="column">
                          <img class="demo cursor" src="/Images/img3.jpg" style="width:100%" onclick="currentSlide(3)">
                      </div>
                  </div>
              </div>
          </div>
          <div class="col">
            <div class="card card-body">
			{{#film}}
               <h1 class="card-title display-4"> {{title}} </h1>
               <div class="stars" id="rateYo"></div><p></p>
               <p><b>Release date: </b>{{releaseDate}}</p>
               <p><b>Minimum age: </b>{{minAge}}</p>
               <p><b>Genre: </b>{{genre}}</p>
               <p><b>Running time: </b>{{duration}} minutes</p>
               <p><b>Cast: </b>{{cast}}</p>
               <p><b>Director: </b>{{director}}</p>
               <h5>Plot:</h5>
               <p>{{plot}}</p> 
	  		 {{/film}}

               <center><h4> Asserts </h4></center>
               <h5>Mia</h5>
               <p><i>This film is awesome</i></p>
               <div class="stars" id="rateYo2"></div>
               <p></p>
               <h5>Nick</h5>
               <div class="stars" id="rateYo3"></div>
	
           </div>
       </div>
   </div>
</div>
<div class="container-fluid mt-5">
    <div class="col">
        <div class="row">
            <h3 class="font-weight-bold">More like this</h3>
            <div class="box">
                <a><img src="/Images/film2.jpg" alt=""></a>
                <a><img src="/Images/film3.jpg" alt=""></a>
                <a><img src="/Images/film4.jpg" alt=""></a>
                <a><img src="/Images/film5.jpg" alt=""></a>
                <a><img src="/Images/film6.jpg" alt=""></a>
                <a><img src="/Images/film7.jpg" alt=""></a>
                <a><img src="/Images/film8.jpg" alt=""></a>
                <a><img src="/Images/film9.jpg" alt=""></a>
                <a><img src="/Images/film10.jpg" alt=""></a>
                <a><img src="/Images/film11.jpg" alt=""></a>
                <a><img src="/Images/film12.jpg" alt=""></a>
                <a><img src="/Images/film13.jpg" alt=""></a>
            </div>
            <p></p>
        </div>
    </div>
</div>
</section>

</main>

<script src="../appFilm.js"></script>
<script src="../themeFilm.js"></script>  
<!--Stars-->
<script src="https://cdnjs.cloudflare.com/ajax/libs/rateYo/2.3.2/jquery.rateyo.min.js"></script>
<script src="../stars.js"></script>
</body>   
</html>
