<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Advice.me</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <script defer src="https://use.fontawesome.com/releases/v5.1.0/js/all.js" integrity="sha384-3LK/3kTpDE/Pkp8gTNp2gR/2gOiwQ6QaO7Td0zV76UFJVhqLl4Vl3KL1We6q6wR9" crossorigin="anonymous"></script>
  <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
  <script type="text/javascript" src="chartAdviceMe"></script>
  <link rel="stylesheet" href="../style.css" type="text/css">
</head>
<body>
  <div class="wrapper">

    {{>headerRegistered}}
    <!-- MAIN CONTAINER -->
    <section class="main-container" >
    	
      <!--Hay que añadir el enlace a la otra pantalla y el gráfico-->
      {{#user}}
      <a href="/menuRegistered"><button class="button">For you</button></a>
      <a href="/menuFollowing/{{id}}"><button class="button">Following</button></a>
      {{/user}}
          
      <h1 id="home">Best Movie Genres</h1>
      <div id="piechart"></div>      
      
      <h1 id="recommendations">Recommendations for you</h1>
      <div class="box">
        {{#recomendation}}
      		<a href="/filmRegistered/{{id}}"><img src="/{{id}}/image" alt=""></a>
      	{{/recomendation}}
      </div>
      
      <h1 id="comments">Your Comments</h1>
      <div class="box">
        {{#commented}}
      		<a href="/filmRegistered/{{id}}"><img src="/{{id}}/image" alt=""></a>
      	{{/commented}}               
      </div>
      
      <h1 id="trending">Trending Now</h1>
      <div class="box">
        {{#trending}}
      		<a href="/filmRegistered/{{id}}"><img src="/{{id}}/image" alt=""></a>
      	{{/trending}}
	  </div>
      
      <h1 id="action">Action</h1>
      <div class="box">
        {{#action}}
      		<a href="/filmRegistered/{{id}}"><img src="/{{id}}/image" alt=""></a>
      	{{/action}}             
      </div>

      <h1 id="adventure">Adventure</h1>
      <div class="box">
        {{#adventure}}
      		<a href="/filmRegistered/{{id}}"><img src="/{{id}}/image" alt=""></a>
      	{{/adventure}}                  
      </div>
      
      <h1 id="animation">Animation</h1>
      <div class="box">
        {{#animation}}
      		<a href="/filmRegistered/{{id}}"><img src="/{{id}}/image" alt=""></a>
      	{{/animation}}                  
      </div>

      <h1 id="comedy">Comedy</h1>
      <div class="box">
        {{#comedy}}
      		<a href="/filmRegistered/{{id}}"><img src="/{{id}}/image" alt=""></a>
      	{{/comedy}}                  
      </div>

      <h1 id="drama">Drama</h1>
      <div class="box">
        {{#drama}}
      		<a href="/filmRegistered/{{id}}"><img src="/{{id}}/image" alt=""></a>
      	{{/drama}}              
      </div>

      <h1 id="horror">Horror</h1>
      <div class="box">
        {{#horror}}
      		<a href="/filmRegistered/{{id}}"><img src="/{{id}}/image" alt=""></a>
      	{{/horror}}                  
      </div>

      <h1 id="scienceFiction">Science Fiction</h1>
      <div class="box">
        {{#scifi}}
      		<a href="/filmRegistered/{{id}}"><img src="/{{id}}/image" alt=""></a>
      	{{/scifi}}                  
      </div>
    </section> 
    <!-- END OF MAIN CONTAINER -->
  </div>
</body>
</html>
