<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Advice.me</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <script defer src="https://use.fontawesome.com/releases/v5.1.0/js/all.js" integrity="sha384-3LK/3kTpDE/Pkp8gTNp2gR/2gOiwQ6QaO7Td0zV76UFJVhqLl4Vl3KL1We6q6wR9" crossorigin="anonymous"></script>
  <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
  <script type="text/javascript" src="chartAdviceMe"></script>
  <link rel="stylesheet" href="../style.css" type="text/css">
</head>
<body>
  <div class="wrapper">

    <!-- HEADER -->
    {{headerRegistered}}
    <!-- END OF HEADER -->
    
    <!-- MAIN CONTAINER -->
    <section class="main-container" >
        <a href="/menuRegistered"><button class="button">For you</button></a>
        <a href="/menuFollowing"><button class="button">Following</button></a>

    	<h1 id="recommendations">Mia</h1>
    	<div class="box">
    		</div>
      
    	<h1 id="comments">Nate</h1>
    	<div class="box">
        	</div>
      
    	<h1 id="trending">Daniel</h1>
    	<div class="box">
        	</div>
      
    	<h1 id="action">Tommy</h1>
    	<div class="box">
        	</div>

    	<h1 id="adventure">Adventure</h1>
    	<div class="box">
        	</div>

    	<h1 id="comedy">Andy</h1>
    	<div class="box">
        	</div>
    </section> 
    <!-- END OF MAIN CONTAINER -->
  </div>
</body>
</html>