<!DOCTYPE html>
<html>

<head>
	<meta charset="utf-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>Advice.me</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<script defer src="https://use.fontawesome.com/releases/v5.1.0/js/all.js"
		integrity="sha384-3LK/3kTpDE/Pkp8gTNp2gR/2gOiwQ6QaO7Td0zV76UFJVhqLl4Vl3KL1We6q6wR9"
		crossorigin="anonymous"></script>
	<link rel="stylesheet" href="../style.css" type="text/css">
</head>

<body>
	<div class="wrapper">
		{{>headerRegistered}}

		<!-- MAIN CONTAINER -->
		<section class="main-container">
			{{#user}}
			<center>
				<a href="/menuRegistered"><button class="button">For you</button></a>
				<a href="/menuFollowing/{{id}}"><button class="button">Following</button></a>
			</center>
			{{#following}}
			<h1 id="recommendations">{{name}}</h1>

			<div class="box">
				{{#comments}}
				{{#film}}
				<a href="/filmRegistered/{{id}}"><img src="/{{id}}/image" alt=""></a>
				{{/film}}
				{{/comments}}
			</div>

			{{/following}}
			{{/user}}
		</section>
		<!-- END OF MAIN CONTAINER -->
	</div>
</body>

</html>